.appbar {
     display: flex;
     justify-content: space-between;
     min-height: 9vh !important;
}

.App {
     padding: auto;
     min-height: 100vh;
     display: flex;
     border-radius: 0;
     justify-content: center !important;
     align-content: center !important;
}

/*Navlinks*/
.Navlinks {
     padding: 1.5vh;
     text-decoration: none;
     color: inherit;
}

.Navlinks.active {
     border: 2px solid inherit;
     border-radius: 5px;
}

/*HOME*/

.userInfo {
     display: flex;
}

.userInfoTexts {
     display: flex;
     flex-direction: column;
}

/*
FORMATION
*/

.item_desc {
     display: flex;
     margin-top: 2vh;
     align-content: start;
     justify-content: flex-start;
}

.item_desc_icon {
     margin-right: 2vh;
}

.card {
     padding: 2vh;
}

.paper_contact {
     max-width: 500px;
     margin: auto;
}


