@font-face {
     font-family: "Montserrat";
     src: url("../assets/font/Montserrat-Regular.ttf") format("truetype");
     font-weight: 400;
}

:root {
     margin: 0;
     padding: 0;
     font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;
     box-sizing: border-box;
}

body {
     margin: 0;
     padding: 0;
     min-height: 100vh !important;
     box-sizing: border-box;
}
